# Features Describtion 
* **Ranking of movie:** Movie's position in the dataset.
* **Movie name:** Name of the movie.
* **Year:** Year of movie release.
* **Certificate:** Age rating or classification of the movie.
* **Runtime:** Duration of the movie in minutes.
* **Genre:** Category or type of the movie.
* **Rating:** Score given to the movie.
* **Detail about movie:** Brief information about the movie.
* **Director:** Name of the movie's director(s).
* **Actor 1, Actor 2, Actor 3, Actor 4:** Names of the main actors or actresses.
* **Votes:** Number of votes or ratings received.
* **Metascore:** Aggregated score based on critic reviews.
* **Gross Collection:** Total box office earnings of the movie.

## Import Libraries

In [3]:
import pandas as pd 
import numpy as np

## Reading Data

In [6]:
df = pd.read_csv('imdb_movies.csv')
df

,ranking of movie,movie name,Year,certificate,runtime,genre,RATING,DETAIL ABOUT MOVIE,DIRECTOR,ACTOR 1,ACTOR 2,ACTOR 3,ACTOR 4,votes,metascore,GROSS COLLECTION
0,1,Jai Bhim,-2021,TV-MA,164 min,"Crime, Drama",9.4,When a tribal man is arrested for a case of al...,T.J. Gnanavel,Suriya,Lijo Mol Jose,Manikandan,Rajisha Vijayan,163431,NaN,NaN
1,2,The Shawshank Redemption,-1994,R,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2515762,80.0,$28.34M
2,3,The Godfather,-1972,R,175 min,"Crime, Drama",9.2,"The Godfather follows Vito Corleone, Don of th...",Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1732749,100.0,$134.97M
3,4,The Dark Knight,-2008,PG-13,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2466041,84.0,$534.86M
4,5,The Godfather: Part II,-1974,R,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1202401,90.0,$57.30M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,246,Mr. Smith Goes to Washington,-1939,Passed,129 min,"Comedy, Drama",8.1,A naive youth leader is appointed to fill a va...,Frank Capra,James Stewart,Jean Arthur,Claude Rains,Edward Arnold,112642,73.0,$9.60M
246,247,Gone with the Wind,-1939,Passed,238 min,"Drama, History, Romance",8.1,The manipulative daughter of a Georgia plantat...,Victor Fleming,George Cukor,Sam Wood,Clark Gable,Vivien Leigh,304725,97.0,$198.68M
247,248,It Happened One Night,-1934,Passed,105 min,"Comedy, Romance",8.1,A renegade reporter trailing a young runaway h...,Frank Capra,Clark Gable,Claudette Colbert,Walter Connolly,Roscoe Karns,100198,87.0,$4.36M
248,249,The Passion of Joan of Arc,-1928,Passed,114 min,"Biography, Drama, History",8.1,"In 1431, Jeanne d'Arc is placed on trial on ch...",Carl Theodor Dreyer,Maria Falconetti,Eugene Silvain,Andr√© Berley,Maurice Schutz,52264,NaN,$0.02M
249,250,The General,-1926,Passed,67 min,"Action, Adventure, Comedy",8.1,After being rejected by the Confederate milita...,Clyde Bruckman,Buster Keaton,Buster Keaton,Marion Mack,Glen Cavender,88022,NaN,$1.03M

### Data Overview

In [9]:
df.head()

,ranking of movie,movie name,Year,certificate,runtime,genre,RATING,DETAIL ABOUT MOVIE,DIRECTOR,ACTOR 1,ACTOR 2,ACTOR 3,ACTOR 4,votes,metascore,GROSS COLLECTION
0,1,Jai Bhim,-2021,TV-MA,164 min,"Crime, Drama",9.4,When a tribal man is arrested for a case of al...,T.J. Gnanavel,Suriya,Lijo Mol Jose,Manikandan,Rajisha Vijayan,163431,NaN,NaN
1,2,The Shawshank Redemption,-1994,R,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2515762,80.0,$28.34M
2,3,The Godfather,-1972,R,175 min,"Crime, Drama",9.2,"The Godfather follows Vito Corleone, Don of th...",Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1732749,100.0,$134.97M
3,4,The Dark Knight,-2008,PG-13,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2466041,84.0,$534.86M
4,5,The Godfather: Part II,-1974,R,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1202401,90.0,$57.30M

In [11]:
df.tail()

,ranking of movie,movie name,Year,certificate,runtime,genre,RATING,DETAIL ABOUT MOVIE,DIRECTOR,ACTOR 1,ACTOR 2,ACTOR 3,ACTOR 4,votes,metascore,GROSS COLLECTION
245,246,Mr. Smith Goes to Washington,-1939,Passed,129 min,"Comedy, Drama",8.1,A naive youth leader is appointed to fill a va...,Frank Capra,James Stewart,Jean Arthur,Claude Rains,Edward Arnold,112642,73.0,$9.60M
246,247,Gone with the Wind,-1939,Passed,238 min,"Drama, History, Romance",8.1,The manipulative daughter of a Georgia plantat...,Victor Fleming,George Cukor,Sam Wood,Clark Gable,Vivien Leigh,304725,97.0,$198.68M
247,248,It Happened One Night,-1934,Passed,105 min,"Comedy, Romance",8.1,A renegade reporter trailing a young runaway h...,Frank Capra,Clark Gable,Claudette Colbert,Walter Connolly,Roscoe Karns,100198,87.0,$4.36M
248,249,The Passion of Joan of Arc,-1928,Passed,114 min,"Biography, Drama, History",8.1,"In 1431, Jeanne d'Arc is placed on trial on ch...",Carl Theodor Dreyer,Maria Falconetti,Eugene Silvain,Andr√© Berley,Maurice Schutz,52264,NaN,$0.02M
249,250,The General,-1926,Passed,67 min,"Action, Adventure, Comedy",8.1,After being rejected by the Confederate milita...,Clyde Bruckman,Buster Keaton,Buster Keaton,Marion Mack,Glen Cavender,88022,NaN,$1.03M

## Quality Assessment

### EDA

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ranking of movie    250 non-null    int64
 1   movie name          250 non-null    object
 2   Year                250 non-null    object
 3   certificate         250 non-null    object
 4   runtime             250 non-null    object
 5   genre               250 non-null    object
 6   RATING              250 non-null    float64
 7   DETAIL ABOUT MOVIE  250 non-null    object
 8   DIRECTOR            250 non-null    object
 9   ACTOR 1             250 non-null    object
 10  ACTOR 2             250 non-null    object
 11  ACTOR 3             250 non-null    object
 12  ACTOR 4             250 non-null    object
 13  votes               250 non-null    int64
 14  metascore           218 non-null    float64
 15  GROSS COLLECTION    214 non-null    object
dtypes: float64(2), int64(2), object(12)
memory usage: 31.4+ KB

In [20]:
df.describe()

       ranking of movie      RATING         votes   metascore
count        250.000000  250.000000  2.500000e+02  218.000000
mean         125.500000    8.308400  5.785299e+05   82.449541
std           72.312977    0.234669  4.951304e+05   10.822392
min            1.000000    8.100000  2.653800e+04   55.000000
25%           63.250000    8.100000  1.688628e+05   75.000000
50%          125.500000    8.200000  4.313355e+05   84.000000
75%          187.750000    8.400000  8.854255e+05   90.000000
max          250.000000    9.400000  2.515762e+06  100.000000

In [22]:
df.describe(include='O')

,movie name,Year,certificate,runtime,genre,DETAIL ABOUT MOVIE,DIRECTOR,ACTOR 1,ACTOR 2,ACTOR 3,ACTOR 4,GROSS COLLECTION
count,250,250,250,250,250,250,250,250,250,250,250,214
unique,250,90,11,102,109,250,154,185,233,241,242,204
top,Jai Bhim,-1995,R,130 min,Drama,When a tribal man is arrested for a case of al...,Christopher Nolan,Robert De Niro,Matt Damon,Joe Pesci,Diane Keaton,$4.36M
freq,1,8,106,9,22,1,7,6,3,3,2,3

In [24]:
df.isnull().sum()

ranking of movie       0
movie name             0
Year                   0
certificate            0
runtime                0
genre                  0
RATING                 0
DETAIL ABOUT MOVIE     0
DIRECTOR               0
ACTOR 1                0
ACTOR 2                0
ACTOR 3                0
ACTOR 4                0
votes                  0
metascore             32
GROSS COLLECTION      36
dtype: int64

In [26]:
df.isnull().mean()*100

ranking of movie       0.0
movie name             0.0
Year                   0.0
certificate            0.0
runtime                0.0
genre                  0.0
RATING                 0.0
DETAIL ABOUT MOVIE     0.0
DIRECTOR               0.0
ACTOR 1                0.0
ACTOR 2                0.0
ACTOR 3                0.0
ACTOR 4                0.0
votes                  0.0
metascore             12.8
GROSS COLLECTION      14.4
dtype: float64

In [28]:
df.duplicated().sum()

0

### Drop Unnecessary Columns

In [33]:
df.drop(['ranking of movie','DETAIL ABOUT MOVIE'],axis=1,inplace=True)

In [35]:
df

,movie name,Year,certificate,runtime,genre,RATING,DIRECTOR,ACTOR 1,ACTOR 2,ACTOR 3,ACTOR 4,votes,metascore,GROSS COLLECTION
0,Jai Bhim,-2021,TV-MA,164 min,"Crime, Drama",9.4,T.J. Gnanavel,Suriya,Lijo Mol Jose,Manikandan,Rajisha Vijayan,163431,NaN,NaN
1,The Shawshank Redemption,-1994,R,142 min,Drama,9.3,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2515762,80.0,$28.34M
2,The Godfather,-1972,R,175 min,"Crime, Drama",9.2,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1732749,100.0,$134.97M
3,The Dark Knight,-2008,PG-13,152 min,"Action, Crime, Drama",9.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2466041,84.0,$534.86M
4,The Godfather: Part II,-1974,R,202 min,"Crime, Drama",9.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1202401,90.0,$57.30M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,Mr. Smith Goes to Washington,-1939,Passed,129 min,"Comedy, Drama",8.1,Frank Capra,James Stewart,Jean Arthur,Claude Rains,Edward Arnold,112642,73.0,$9.60M
246,Gone with the Wind,-1939,Passed,238 min,"Drama, History, Romance",8.1,Victor Fleming,George Cukor,Sam Wood,Clark Gable,Vivien Leigh,304725,97.0,$198.68M
247,It Happened One Night,-1934,Passed,105 min,"Comedy, Romance",8.1,Frank Capra,Clark Gable,Claudette Colbert,Walter Connolly,Roscoe Karns,100198,87.0,$4.36M
248,The Passion of Joan of Arc,-1928,Passed,114 min,"Biography, Drama, History",8.1,Carl Theodor Dreyer,Maria Falconetti,Eugene Silvain,Andr√© Berley,Maurice Schutz,52264,NaN,$0.02M
249,The General,-1926,Passed,67 min,"Action, Adventure, Comedy",8.1,Clyde Bruckman,Buster Keaton,Buster Keaton,Marion Mack,Glen Cavender,88022,NaN,$1.03M

## Quality Assessment

#### Detect Outliers Using the IQR Method

In [39]:
numeric_columns = df.select_dtypes('number').columns
outlier_info = {}

In [41]:
for col in numeric_columns:
    q1 = df[col].quantile(0.25)
    q3 = df[col].quantile(0.75)
    IQR = q3 - q1
    lower_bound = q1 - IQR * 0.5
    upper_bound = q3 + IQR * 0.5
    outliers = df[(df[col] < lower_bound) | (df[col] > upper_bound)]
    if not outliers.empty:
        outlier_info[col] = len(outliers)

In [43]:
print("Outlier info", outlier_info)

Outlier info {'RATING': 33, 'votes': 25, 'metascore': 40}

#### Rename Columns in a suitable form

In [46]:
df.columns

Index(['movie name ', 'Year', 'certificate', 'runtime', 'genre', 'RATING',
       'DIRECTOR ', 'ACTOR 1', 'ACTOR 2', 'ACTOR 3', 'ACTOR 4', 'votes',
       'metascore', 'GROSS COLLECTION'],
      dtype='object')

In [48]:
df.columns = df.columns.str.lower()

In [50]:
df.columns

Index(['movie name ', 'year', 'certificate', 'runtime', 'genre', 'rating',
       'director ', 'actor 1', 'actor 2', 'actor 3', 'actor 4', 'votes',
       'metascore', 'gross collection'],
      dtype='object')

In [52]:
df

,movie name,year,certificate,runtime,genre,rating,director,actor 1,actor 2,actor 3,actor 4,votes,metascore,gross collection
0,Jai Bhim,-2021,TV-MA,164 min,"Crime, Drama",9.4,T.J. Gnanavel,Suriya,Lijo Mol Jose,Manikandan,Rajisha Vijayan,163431,NaN,NaN
1,The Shawshank Redemption,-1994,R,142 min,Drama,9.3,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2515762,80.0,$28.34M
2,The Godfather,-1972,R,175 min,"Crime, Drama",9.2,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1732749,100.0,$134.97M
3,The Dark Knight,-2008,PG-13,152 min,"Action, Crime, Drama",9.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2466041,84.0,$534.86M
4,The Godfather: Part II,-1974,R,202 min,"Crime, Drama",9.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1202401,90.0,$57.30M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,Mr. Smith Goes to Washington,-1939,Passed,129 min,"Comedy, Drama",8.1,Frank Capra,James Stewart,Jean Arthur,Claude Rains,Edward Arnold,112642,73.0,$9.60M
246,Gone with the Wind,-1939,Passed,238 min,"Drama, History, Romance",8.1,Victor Fleming,George Cukor,Sam Wood,Clark Gable,Vivien Leigh,304725,97.0,$198.68M
247,It Happened One Night,-1934,Passed,105 min,"Comedy, Romance",8.1,Frank Capra,Clark Gable,Claudette Colbert,Walter Connolly,Roscoe Karns,100198,87.0,$4.36M
248,The Passion of Joan of Arc,-1928,Passed,114 min,"Biography, Drama, History",8.1,Carl Theodor Dreyer,Maria Falconetti,Eugene Silvain,Andr√© Berley,Maurice Schutz,52264,NaN,$0.02M
249,The General,-1926,Passed,67 min,"Action, Adventure, Comedy",8.1,Clyde Bruckman,Buster Keaton,Buster Keaton,Marion Mack,Glen Cavender,88022,NaN,$1.03M

In [54]:
df.dtypes

movie name           object
year                 object
certificate          object
runtime              object
genre                object
rating              float64
director             object
actor 1              object
actor 2              object
actor 3              object
actor 4              object
votes                 int64
metascore           float64
gross collection     object
dtype: object

## Get the numuebr of unique and unique values for each column

In [57]:
unique_values = {col : df[col].unique() for col in df.columns}

In [59]:
for col,val in unique_values.items():
    print(f"The numebr of unique values is {df[col].nunique()}")
    print(f"column : {col}")
    print(f"unique values : {val}")
    print('*'*100)

The numebr of unique values is 250
column : movie name
unique values : ['Jai Bhim' 'The Shawshank Redemption' 'The Godfather' 'The Dark Knight'
 'The Godfather: Part II' '12 Angry Men'
 'The Lord of the Rings: The Return of the King' 'Pulp Fiction'
 "Schindler's List" 'Inception' 'Spider-Man: No Way Home' 'Fight Club'
 'The Lord of the Rings: The Fellowship of the Ring' 'Forrest Gump'
 'The Good, the Bad and the Ugly' 'The Lord of the Rings: The Two Towers'
 'The Matrix' 'Goodfellas'
 'Star Wars: Episode V - The Empire Strikes Back'
 "One Flew Over the Cuckoo's Nest" 'Parasite' 'Interstellar' 'City of God'
 'Spirited Away' 'Saving Private Ryan' 'The Green Mile'
 'Life Is Beautiful' 'Se7en' 'The Silence of the Lambs'
 'Star Wars: Episode IV - A New Hope' 'Hara-Kiri' 'Seven Samurai'
 "It's a Wonderful Life" 'Whiplash' 'The Intouchables' 'The Prestige'
 'The Departed' 'The Pianist' 'Gladiator' 'American History X'
 'The Usual Suspects' 'L√©on: The Professional' 'The Lion King'
 'Terminator 2: Judgment Day' 'Cinema Paradiso' 'Grave of the Fireflies'
 'Back to the Future' 'Once Upon a Time in the West' 'Psycho'
 'Rear Window' 'Casablanca' 'Modern Times' 'City Lights' 'Hamilton'
 'Capernaum' 'Joker' 'Your Name.' 'Dangal'
 'Spider-Man: Into the Spider-Verse' 'Avengers: Endgame'
 'Avengers: Infinity War' 'Coco' 'Django Unchained'
 'The Dark Knight Rises' '3 Idiots' 'Like Stars on Earth' 'WALL¬∑E'
 'The Lives of Others' 'Oldboy' 'Memento' 'Princess Mononoke'
 'Indiana Jones and the Raiders of the Lost Ark' 'The Shining'
 'Apocalypse Now' 'Alien' 'High and Low'
 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb'
 'Witness for the Prosecution' 'Paths of Glory' 'Pather Panchali'
 'Sunset Blvd.' 'The Great Dictator' '1917' 'The Hunt' 'A Separation'
 'Incendies' 'The Father' 'Inglourious Basterds'
 'Eternal Sunshine of the Spotless Mind' 'Am√©lie' 'Requiem for a Dream'
 'American Beauty' 'Good Will Hunting' 'Children of Heaven' 'Toy Story'
 'Braveheart' 'Reservoir Dogs' 'Full Metal Jacket' 'Come and See' 'Aliens'
 'Once Upon a Time in America' 'Amadeus' 'Scarface'
 'Star Wars: Episode VI - Return of the Jedi' 'Das Boot' 'Dersu Uzala'
 'The Sting' 'A Clockwork Orange' '2001: A Space Odyssey'
 'Lawrence of Arabia' 'The Apartment' 'North by Northwest' 'Vertigo'
 "Singin' in the Rain" 'Ikiru' 'Bicycle Thieves' 'Double Indemnity'
 'Citizen Kane' 'M' 'Metropolis' 'The Kid' 'Andhadhun' 'Green Book'
 'A Silent Voice: The Movie' 'Klaus' 'Gangs of Wasseypur'
 'The Secret in Their Eyes' 'Dune' 'Shutter Island' 'Up'
 'Miracle in Cell No. 7' 'The Wolf of Wall Street' 'My Father and My Son'
 'There Will Be Blood' "Pan's Labyrinth" 'Toy Story 3' 'Batman Begins'
 'Downfall' "Howl's Moving Castle" 'A Beautiful Mind' 'Snatch'
 'Lock, Stock and Two Smoking Barrels' 'L.A. Confidential' 'The Bandit'
 'Heat' 'Casino' 'Unforgiven' 'Indiana Jones and the Last Crusade'
 'My Neighbor Totoro' 'Die Hard' 'Ran' 'Raging Bull' 'Autumn Sonata'
 'Taxi Driver' 'Monty Python and the Holy Grail' 'Chinatown' 'Z'
 'For a Few Dollars More' 'The Great Escape' 'To Kill a Mockingbird'
 'Yojimbo' 'Judgment at Nuremberg' 'Some Like It Hot' 'Wild Strawberries'
 'The Seventh Seal' 'Dial M for Murder' 'Tokyo Story' 'Rashomon'
 'All About Eve' 'The Treasure of the Sierra Madre' 'To Be or Not to Be'
 'The Gold Rush' 'Sherlock Jr.'
 'Three Billboards Outside Ebbing, Missouri' 'The Handmaiden' 'Logan'
 'Room' 'Wild Tales' 'The Grand Budapest Hotel' 'Gone Girl'
 'Hacksaw Ridge' 'Inside Out' '12 Years a Slave' 'Rush' 'Ford v Ferrari'
 'Spotlight' 'Prisoners' 'Mad Max: Fury Road' 'Warrior' 'Gran Torino'
 'Harry Potter and the Deathly Hallows: Part 2' "Hachi: A Dog's Tale"
 'Mary and Max' 'How to Train Your Dragon' 'Into the Wild'
 'No Country for Old Men' 'V for Vendetta' 'Million Dollar Baby'
 'Hotel Rwanda' 'Before Sunset' 'Memories of Murder' 'Kill Bill: Vol. 1'
 'Finding Nemo' 'Catch Me If You Can' 'Amores perros' 'Monsters, Inc.'
 'Neon Genesis Evangelion: The End of Evangelion' 'The Sixth Sense'
 'The Truman Show' 'The Big Lebowski' 'In the Mood for Love'
 'Trainspotting' 'Fargo' 'La Haine' 'Before Sunrise' 'Jurassic Park'
 'In the Name of the Father' 'Dead Poets Society' 'The Princess Bride'
 'Stand by Me' 'Platoon' 'Paris, Texas'
 'Nausica√§ of the Valley of the Wind' 'The Thing' 'Fanny and Alexander'
 'Blade Runner' 'The Elephant Man' 'Stalker' 'Life of Brian'
 'The Deer Hunter' 'Rocky' 'Network' 'Barry Lyndon' 'Cool Hand Luke'
 'Persona' 'Andrei Rublev' 'The Battle of Algiers' 'The 400 Blows'
 'Ben-Hur' 'Nights of Cabiria' 'The Bridge on the River Kwai'
 'On the Waterfront' 'The Wages of Fear' 'The Third Man' 'Rebecca'
 'Mr. Smith Goes to Washington' 'Gone with the Wind'
 'It Happened One Night' 'The Passion of Joan of Arc' 'The General']
****************************************************************************************************
The numebr of unique values is 90
column : year
unique values : ['-2021' '-1994' '-1972' '-2008' '-1974' '-1957' '-2003' '-1993' '-2010'
 '-1999' '-2001' '-1966' '-2002' '-1990' '-1980' '-1975' '-2019' '-2014'
 '-1998' '-1997' '-1995' '-1991' '-1977' '-1962' '-1954' '-1946' '-2011'
 '-2006' '-2000' '-1988' '-1985' '-1968' '-1960' '-1942' '-1936' '-1931'
 '-2020' '-2018' '-2016' '(I) (2017)' '-2012' '-2009' '-2007' '-1981'
 '-1979' '-1963' '-1964' '-1955' '-1950' '-1940' '(I) (2020)' '-2004'
 '-1992' '-1987' '-1986' '-1984' '-1983' '-1973' '-1971' '-1959' '-1958'
 '-1952' '-1948' '-1944' '-1941' '-1927' '-1921' '-2013' '-2005' '-1996'
 '-1989' '-1978' '-1976' '-1969' '-1965' '-1961' '-1953' '-1925' '-1924'
 '-2017' '(I) (2015)' '(I) (2013)' '-2015' '-1982' '-1967' '-1949' '-1939'
 '-1934' '-1928' '-1926']
****************************************************************************************************
The numebr of unique values is 11
column : certificate
unique values : ['TV-MA' 'R' 'PG-13' 'Approved' 'PG' 'Not Rated' 'G' 'Passed' 'TV-14' 'M'
 'GP']
****************************************************************************************************
The numebr of unique values is 102
column : runtime
unique values : ['164 min' '142 min' '175 min' '152 min' '202 min' '96 min' '201 min'
 '154 min' '195 min' '148 min' '139 min' '178 min' '179 min' '136 min'
 '146 min' '124 min' '133 min' '132 min' '169 min' '130 min' '125 min'
 '189 min' '116 min' '127 min' '118 min' '121 min' '207 min' '106 min'
 '112 min' '151 min' '150 min' '155 min' '119 min' '110 min' '88 min'
 '137 min' '89 min' '165 min' '109 min' '102 min' '87 min' '160 min'
 '126 min' '122 min' '161 min' '117 min' '181 min' '149 min' '105 min'
 '170 min' '98 min' '101 min' '113 min' '134 min' '115 min' '147 min'
 '143 min' '95 min' '123 min' '131 min' '97 min' '153 min' '108 min'
 '81 min' '99 min' '229 min' '129 min' '228 min' '128 min' '103 min'
 '107 min' '68 min' '321 min' '138 min' '180 min' '158 min' '140 min'
 '156 min' '135 min' '86 min' '162 min' '114 min' '91 min' '172 min'
 '45 min' '145 min' '120 min' '93 min' '92 min' '80 min' '111 min'
 '100 min' '141 min' '188 min' '94 min' '183 min' '185 min' '83 min'
 '205 min' '212 min' '238 min' '67 min']
****************************************************************************************************
The numebr of unique values is 109
column : genre
unique values : ['Crime, Drama' 'Drama' 'Action, Crime, Drama' 'Action, Adventure, Drama'
 'Biography, Drama, History' 'Action, Adventure, Sci-Fi'
 'Action, Adventure, Fantasy' 'Drama, Romance' 'Adventure, Western'
 'Action, Sci-Fi' 'Biography, Crime, Drama' 'Comedy, Drama, Thriller'
 'Adventure, Drama, Sci-Fi' 'Animation, Adventure, Family' 'Drama, War'
 'Crime, Drama, Fantasy' 'Comedy, Drama, Romance' 'Crime, Drama, Mystery'
 'Crime, Drama, Horror' 'Action, Drama, Mystery' 'Action, Drama'
 'Drama, Family, Fantasy' 'Drama, Music' 'Biography, Comedy, Drama'
 'Drama, Mystery, Thriller' 'Biography, Drama, Music'
 'Animation, Adventure, Drama' 'Animation, Drama, War'
 'Adventure, Comedy, Sci-Fi' 'Western' 'Horror, Mystery, Thriller'
 'Mystery, Thriller' 'Drama, Romance, War' 'Comedy, Drama, Family'
 'Crime, Drama, Thriller' 'Animation, Drama, Fantasy'
 'Action, Biography, Drama' 'Animation, Action, Adventure'
 'Animation, Adventure, Comedy' 'Drama, Western' 'Comedy, Drama'
 'Drama, Family' 'Action, Adventure' 'Drama, Horror' 'Drama, Mystery, War'
 'Horror, Sci-Fi' 'Comedy, War' 'Drama, Film-Noir' 'Comedy, Drama, War'
 'Action, Drama, War' 'Drama, Mystery' 'Adventure, Drama, War'
 'Drama, Romance, Sci-Fi' 'Comedy, Romance' 'Drama, Family, Sport'
 'Drama, Thriller, War' 'Adventure, Biography, Drama'
 'Comedy, Crime, Drama' 'Crime, Sci-Fi' 'Adventure, Sci-Fi'
 'Adventure, Mystery, Thriller' 'Mystery, Romance, Thriller'
 'Comedy, Musical, Romance' 'Crime, Drama, Film-Noir'
 'Crime, Mystery, Thriller' 'Drama, Sci-Fi' 'Comedy, Crime, Music'
 'Animation, Drama' 'Action, Comedy, Crime' 'Drama, Mystery, Romance'
 'Biography, Comedy, Crime' 'Drama, Fantasy, War' 'Biography, Drama'
 'Comedy, Crime' 'Animation, Comedy, Family' 'Action, Thriller'
 'Biography, Drama, Sport' 'Adventure, Comedy, Fantasy'
 'Crime, Drama, History' 'Adventure, Drama, History'
 'Action, Drama, Thriller' 'Comedy, Music, Romance'
 'Drama, Fantasy, History' 'Crime, Thriller' 'Adventure, Drama, Western'
 'Comedy, Romance, War' 'Adventure, Comedy, Drama'
 'Action, Comedy, Romance' 'Drama, Romance, Thriller'
 'Action, Drama, Sci-Fi' 'Drama, Thriller' 'Adventure, Comedy, Crime'
 'Action, Drama, Sport' 'Adventure, Fantasy, Mystery'
 'Biography, Drama, Family' 'Animation, Comedy, Drama' 'Drama, Sport'
 'Animation, Action, Drama' 'Comedy, Crime, Sport'
 'Adventure, Family, Fantasy' 'Adventure, Drama'
 'Animation, Adventure, Sci-Fi' 'Horror, Mystery, Sci-Fi' 'Comedy'
 'Adventure, Drama, Thriller' 'Film-Noir, Mystery, Thriller'
 'Drama, Film-Noir, Mystery' 'Drama, History, Romance'
 'Action, Adventure, Comedy']
****************************************************************************************************
The numebr of unique values is 13
column : rating
unique values : [9.4 9.3 9.2 9.  8.9 8.8 8.7 8.6 8.5 8.4 8.3 8.2 8.1]
****************************************************************************************************
The numebr of unique values is 154
column : director
unique values : ['T.J. Gnanavel' 'Frank Darabont' 'Francis Ford Coppola'
 'Christopher Nolan' 'Sidney Lumet' 'Peter Jackson' 'Quentin Tarantino'
 'Steven Spielberg' 'Jon Watts' 'David Fincher' 'Robert Zemeckis'
 'Sergio Leone' 'Lana Wachowski' 'Martin Scorsese' 'Irvin Kershner'
 'Milos Forman' 'Bong Joon Ho' 'Fernando Meirelles' 'Hayao Miyazaki'
 'Roberto Benigni' 'Jonathan Demme' 'George Lucas' 'Masaki Kobayashi'
 'Akira Kurosawa' 'Frank Capra' 'Damien Chazelle' 'Olivier Nakache'
 'Roman Polanski' 'Ridley Scott' 'Tony Kaye' 'Bryan Singer' 'Luc Besson'
 'Roger Allers' 'James Cameron' 'Giuseppe Tornatore' 'Isao Takahata'
 'Alfred Hitchcock' 'Michael Curtiz' 'Charles Chaplin' 'Thomas Kail'
 'Nadine Labaki' 'Todd Phillips' 'Makoto Shinkai' 'Nitesh Tiwari'
 'Bob Persichetti' 'Anthony Russo' 'Lee Unkrich' 'Rajkumar Hirani'
 'Aamir Khan' 'Andrew Stanton' 'Florian Henckel von Donnersmarck'
 'Park Chan-Wook' 'Stanley Kubrick' 'Billy Wilder' 'Satyajit Ray'
 'Sam Mendes' 'Thomas Vinterberg' 'Asghar Farhadi' 'Denis Villeneuve'
 'Florian Zeller' 'Michel Gondry' 'Jean-Pierre Jeunet' 'Darren Aronofsky'
 'Gus Van Sant' 'Majid Majidi' 'John Lasseter' 'Mel Gibson' 'Elem Klimov'
 'Brian De Palma' 'Richard Marquand' 'Wolfgang Petersen' 'George Roy Hill'
 'David Lean' 'Stanley Donen' 'Vittorio De Sica' 'Orson Welles'
 'Fritz Lang' 'Sriram Raghavan' 'Peter Farrelly' 'Naoko Yamada'
 'Sergio Pablos' 'Anurag Kashyap' 'Juan Jos√© Campanella' 'Pete Docter'
 'Mehmet Ada √ñztekin' 'Cagan Irmak' 'Paul Thomas Anderson'
 'Guillermo del Toro' 'Oliver Hirschbiegel' 'Ron Howard' 'Guy Ritchie'
 'Curtis Hanson' 'Yavuz Turgul' 'Michael Mann' 'Clint Eastwood'
 'John McTiernan' 'Ingmar Bergman' 'Terry Gilliam' 'Costa-Gavras'
 'John Sturges' 'Robert Mulligan' 'Stanley Kramer' 'Yasujir√¥ Ozu'
 'Joseph L. Mankiewicz' 'John Huston' 'Ernst Lubitsch' 'Buster Keaton'
 'Martin McDonagh' 'James Mangold' 'Lenny Abrahamson' 'Dami√°n Szifron'
 'Wes Anderson' 'Steve McQueen' 'Tom McCarthy' 'George Miller'
 "Gavin O'Connor" 'David Yates' 'Lasse Hallstr√∂m' 'Adam Elliot'
 'Dean DeBlois' 'Sean Penn' 'Ethan Coen' 'James McTeigue' 'Terry George'
 'Richard Linklater' 'Alejandro G. I√±√°rritu' 'Hideaki Anno'
 'M. Night Shyamalan' 'Peter Weir' 'Joel Coen' 'Kar-Wai Wong'
 'Danny Boyle' 'Mathieu Kassovitz' 'Jim Sheridan' 'Rob Reiner'
 'Oliver Stone' 'Wim Wenders' 'John Carpenter' 'David Lynch'
 'Andrei Tarkovsky' 'Terry Jones' 'Michael Cimino' 'John G. Avildsen'
 'Stuart Rosenberg' 'Gillo Pontecorvo' 'Fran√ßois Truffaut' 'William Wyler'
 'Federico Fellini' 'Elia Kazan' 'Henri-Georges Clouzot' 'Carol Reed'
 'Victor Fleming' 'Carl Theodor Dreyer' 'Clyde Bruckman']
****************************************************************************************************
The numebr of unique values is 185
column : actor 1
unique values : ['Suriya' 'Tim Robbins' 'Marlon Brando' 'Christian Bale' 'Al Pacino'
 'Henry Fonda' 'Elijah Wood' 'John Travolta' 'Liam Neeson'
 'Leonardo DiCaprio' 'Tom Holland' 'Brad Pitt' 'Tom Hanks'
 'Clint Eastwood' 'Lilly Wachowski' 'Robert De Niro' 'Mark Hamill'
 'Jack Nicholson' 'Kang-ho Song' 'Matthew McConaughey' 'K√°tia Lund'
 'Daveigh Chase' 'Roberto Benigni' 'Morgan Freeman' 'Jodie Foster'
 'Tatsuya Nakadai' 'Toshir√¥ Mifune' 'James Stewart' 'Miles Teller'
 '√âric Toledano' 'Adrien Brody' 'Russell Crowe' 'Edward Norton'
 'Kevin Spacey' 'Jean Reno' 'Rob Minkoff' 'Arnold Schwarzenegger'
 'Philippe Noiret' 'Tsutomu Tatsumi' 'Michael J. Fox' 'Anthony Perkins'
 'Humphrey Bogart' 'Charles Chaplin' 'Lin-Manuel Miranda' 'Zain Al Rafeea'
 'Joaquin Phoenix' 'Ry√ªnosuke Kamiki' 'Aamir Khan' 'Peter Ramsey'
 'Joe Russo' 'Adrian Molina' 'Jamie Foxx' 'Amole Gupte' 'Ben Burtt'
 'Ulrich M√ºhe' 'Choi Min-sik' 'Guy Pearce' 'Y√¥ji Matsuda' 'Harrison Ford'
 'Martin Sheen' 'Sigourney Weaver' 'Peter Sellers' 'Tyrone Power'
 'Kirk Douglas' 'Kanu Bannerjee' 'William Holden' 'Dean-Charles Chapman'
 'Mads Mikkelsen' 'Payman Maadi' 'Lubna Azabal' 'Anthony Hopkins'
 'Jim Carrey' 'Audrey Tautou' 'Ellen Burstyn' 'Robin Williams'
 'Mohammad Amir Naji' 'Mel Gibson' 'Harvey Keitel' 'Matthew Modine'
 'Aleksey Kravchenko' 'F. Murray Abraham' 'J√ºrgen Prochnow'
 'Maksim Munzuk' 'Paul Newman' 'Malcolm McDowell' 'Keir Dullea'
 "Peter O'Toole" 'Jack Lemmon' 'Cary Grant' 'Gene Kelly' 'Takashi Shimura'
 'Lamberto Maggiorani' 'Fred MacMurray' 'Orson Welles' 'Peter Lorre'
 'Brigitte Helm' 'Ayushmann Khurrana' 'Viggo Mortensen' 'Miyu Irino'
 'Carlos Mart√≠nez L√≥pez' 'Manoj Bajpayee' 'Ricardo Dar√≠n'
 'Timoth√©e Chalamet' 'Bob Peterson' 'Aras Bulut Iynemli' 'Eser Sariyar'
 'Daniel Day-Lewis' 'Ivana Baquero' 'Bruno Ganz' 'Chieko Baish√¥'
 'Jason Statham' 'Jason Flemyng' 'Sener Sen' 'Hitoshi Takagi'
 'Bruce Willis' 'Ingrid Bergman' 'Terry Jones' 'Yves Montand'
 'Steve McQueen' 'Gregory Peck' 'Spencer Tracy' 'Marilyn Monroe'
 'Victor Sj√∂str√∂m' 'Max von Sydow' 'Ray Milland' 'Chish√ª Ry√ª'
 'Bette Davis' 'Carole Lombard' 'Buster Keaton' 'Frances McDormand'
 'Kim Min-hee' 'Hugh Jackman' 'Brie Larson' 'Dar√≠o Grandinetti'
 'Ralph Fiennes' 'Ben Affleck' 'Andrew Garfield' 'Ronnie Del Carmen'
 'Chiwetel Ejiofor' 'Daniel Br√ºhl' 'Matt Damon' 'Mark Ruffalo' 'Tom Hardy'
 'Daniel Radcliffe' 'Richard Gere' 'Toni Collette' 'Chris Sanders'
 'Emile Hirsch' 'Joel Coen' 'Hugo Weaving' 'Hilary Swank' 'Don Cheadle'
 'Ethan Hawke' 'Uma Thurman' 'Lee Unkrich' 'Emilio Echevarr√≠a'
 'David Silverman' 'Kazuya Tsurumaki' 'Ethan Coen' 'Tony Chiu-Wai Leung'
 'Ewan McGregor' 'Vincent Cassel' 'Sam Neill' 'Cary Elwes' 'Wil Wheaton'
 'Charlie Sheen' 'Harry Dean Stanton' 'Sumi Shimamoto' 'Kurt Russell'
 'Bertil Guve' 'Alisa Freyndlikh' 'Graham Chapman' 'Sylvester Stallone'
 'Faye Dunaway' "Ryan O'Neal" 'Bibi Andersson' 'Anatoliy Solonitsyn'
 'Brahim Hadjadj' 'Jean-Pierre L√©aud' 'Charlton Heston' 'Giulietta Masina'
 'Laurence Olivier' 'George Cukor' 'Clark Gable' 'Maria Falconetti']
****************************************************************************************************
The numebr of unique values is 233
column : actor 2
unique values : ['Lijo Mol Jose' 'Morgan Freeman' 'Al Pacino' 'Heath Ledger'
 'Robert De Niro' 'Lee J. Cobb' 'Viggo Mortensen' 'Uma Thurman'
 'Ralph Fiennes' 'Joseph Gordon-Levitt' 'Zendaya' 'Edward Norton'
 'Ian McKellen' 'Robin Wright' 'Eli Wallach' 'Keanu Reeves' 'Ray Liotta'
 'Harrison Ford' 'Louise Fletcher' 'Sun-kyun Lee' 'Anne Hathaway'
 'Alexandre Rodrigues' 'Suzanne Pleshette' 'Matt Damon'
 'Michael Clarke Duncan' 'Nicoletta Braschi' 'Brad Pitt' 'Anthony Hopkins'
 'Akira Ishihama' 'Takashi Shimura' 'Donna Reed' 'J.K. Simmons'
 'Fran√ßois Cluzet' 'Hugh Jackman' 'Thomas Kretschmann' 'Joaquin Phoenix'
 'Edward Furlong' 'Gabriel Byrne' 'Gary Oldman' 'Matthew Broderick'
 'Linda Hamilton' 'Enzo Cannavale' 'Ayano Shiraishi' 'Christopher Lloyd'
 'Charles Bronson' 'Janet Leigh' 'Grace Kelly' 'Ingrid Bergman'
 'Paulette Goddard' 'Virginia Cherrill' 'Phillipa Soo' 'Yordanos Shiferaw'
 'Mone Kamishiraishi' 'Sakshi Tanwar' 'Rodney Rothman' 'Robert Downey Jr.'
 'Anthony Gonzalez' 'Christoph Waltz' 'Tom Hardy' 'Madhavan'
 'Darsheel Safary' 'Elissa Knight' 'Martina Gedeck' 'Yoo Ji-Tae'
 'Carrie-Anne Moss' 'Yuriko Ishida' 'Karen Allen' 'Shelley Duvall'
 'Marlon Brando' 'Tom Skerritt' 'Yutaka Sada' 'George C. Scott'
 'Marlene Dietrich' 'Ralph Meeker' 'Karuna Bannerjee' 'Gloria Swanson'
 'George MacKay' 'Thomas Bo Larsen' 'Leila Hatami'
 'M√©lissa D√©sormeaux-Poulin' 'Olivia Colman' 'Diane Kruger' 'Kate Winslet'
 'Mathieu Kassovitz' 'Jared Leto' 'Annette Bening'
 'Amir Farrokh Hashemian' 'Tim Allen' 'Sophie Marceau' 'Tim Roth'
 'R. Lee Ermey' 'Olga Mironova' 'Michael Biehn' 'James Woods' 'Tom Hulce'
 'Michelle Pfeiffer' 'Herbert Gr√∂nemeyer' 'Yuriy Solomin' 'Robert Redford'
 'Patrick Magee' 'Gary Lockwood' 'Alec Guinness' 'Shirley MacLaine'
 'Eva Marie Saint' 'Kim Novak' 'Gene Kelly' 'Nobuo Kaneko' 'Enzo Staiola'
 'Barbara Stanwyck' 'Joseph Cotten' 'Ellen Widmann' 'Alfred Abel'
 'Edna Purviance' 'Tabu' 'Mahershala Ali' 'Saori Hayami'
 'Jason Schwartzman' 'Richa Chadha' 'Soledad Villamil' 'Rebecca Ferguson'
 'Emily Mortimer' 'Ed Asner' 'Nisa Sofiya Aksongur' 'Jonah Hill'
 '√áetin Tekindor' 'Paul Dano' 'Ariadna Gil' 'Michael Caine'
 'Alexandra Maria Lara' 'Takuya Kimura' 'Ed Harris' 'Dexter Fletcher'
 'Russell Crowe' 'Ugur Y√ºcel' 'Sharon Stone' 'Gene Hackman' 'Sean Connery'
 'Noriko Hidaka' 'Alan Rickman' 'Akira Terao' 'Cathy Moriarty'
 'Liv Ullmann' 'Jodie Foster' 'Graham Chapman' 'Faye Dunaway'
 'Irene Papas' 'Lee Van Cleef' 'James Garner' 'John Megna' 'Eijir√¥ T√¥no'
 'Burt Lancaster' 'Tony Curtis' 'Bibi Andersson' 'Gunnar Bj√∂rnstrand'
 'Chieko Higashiyama' 'Machiko Ky√¥' 'Anne Baxter' 'Walter Huston'
 'Jack Benny' 'Mack Swain' 'Kathryn McGuire' 'Woody Harrelson'
 'Ha Jung-woo' 'Patrick Stewart' 'Jacob Tremblay' 'Mar√≠a Marull'
 'F. Murray Abraham' 'Rosamund Pike' 'Sam Worthington' 'Amy Poehler'
 'Michael Kenneth Williams' 'Chris Hemsworth' 'Christian Bale'
 'Michael Keaton' 'Jake Gyllenhaal' 'Charlize Theron' 'Nick Nolte'
 'Bee Vang' 'Emma Watson' 'Joan Allen' 'Philip Seymour Hoffman'
 'Jay Baruchel' 'Vince Vaughn' 'Tommy Lee Jones' 'Natalie Portman'
 'Clint Eastwood' 'Sophie Okonedo' 'Julie Delpy' 'Kim Sang-kyung'
 'David Carradine' 'Albert Brooks' 'Tom Hanks' 'Gael Garc√≠a Bernal'
 'Lee Unkrich' 'Megumi Ogata' 'Haley Joel Osment' 'Jeff Bridges'
 'Maggie Cheung' 'Ewen Bremner' 'William H. Macy' 'Hubert Kound√©'
 'Laura Dern' 'Pete Postlethwaite' 'Robert Sean Leonard' 'Mandy Patinkin'
 'River Phoenix' 'Tom Berenger' 'Nastassja Kinski' 'Mahito Tsujimura'
 'Wilford Brimley' 'Pernilla Allwin' 'Rutger Hauer' 'John Hurt'
 'Aleksandr Kaydanovskiy' 'John Cleese' 'Christopher Walken' 'Talia Shire'

In [62]:
df.rename(mapper={
    'runtime':'runtime(min)',
    'rating':'user_rating(10)',
    'actor 1' : 'first_actor',
    'actor 2' : 'secound_actor',
    'actor 3' : 'third_actor',
    'actor 4' : 'fourth_actor',
    'gross collection':'gross collection($-M)'
},axis=1,inplace=True)

In [64]:
df

,movie name,year,certificate,runtime(min),genre,user_rating(10),director,first_actor,secound_actor,third_actor,fourth_actor,votes,metascore,gross collection($-M)
0,Jai Bhim,-2021,TV-MA,164 min,"Crime, Drama",9.4,T.J. Gnanavel,Suriya,Lijo Mol Jose,Manikandan,Rajisha Vijayan,163431,NaN,NaN
1,The Shawshank Redemption,-1994,R,142 min,Drama,9.3,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2515762,80.0,$28.34M
2,The Godfather,-1972,R,175 min,"Crime, Drama",9.2,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1732749,100.0,$134.97M
3,The Dark Knight,-2008,PG-13,152 min,"Action, Crime, Drama",9.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2466041,84.0,$534.86M
4,The Godfather: Part II,-1974,R,202 min,"Crime, Drama",9.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1202401,90.0,$57.30M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,Mr. Smith Goes to Washington,-1939,Passed,129 min,"Comedy, Drama",8.1,Frank Capra,James Stewart,Jean Arthur,Claude Rains,Edward Arnold,112642,73.0,$9.60M
246,Gone with the Wind,-1939,Passed,238 min,"Drama, History, Romance",8.1,Victor Fleming,George Cukor,Sam Wood,Clark Gable,Vivien Leigh,304725,97.0,$198.68M
247,It Happened One Night,-1934,Passed,105 min,"Comedy, Romance",8.1,Frank Capra,Clark Gable,Claudette Colbert,Walter Connolly,Roscoe Karns,100198,87.0,$4.36M
248,The Passion of Joan of Arc,-1928,Passed,114 min,"Biography, Drama, History",8.1,Carl Theodor Dreyer,Maria Falconetti,Eugene Silvain,Andr√© Berley,Maurice Schutz,52264,NaN,$0.02M
249,The General,-1926,Passed,67 min,"Action, Adventure, Comedy",8.1,Clyde Bruckman,Buster Keaton,Buster Keaton,Marion Mack,Glen Cavender,88022,NaN,$1.03M

### What is the minimum and maximum ratings ?

In [67]:
df['user_rating(10)'].max() , df['user_rating(10)'].min()

(9.4, 8.1)

### What are the movies with rating > 9 ?

In [71]:
msk = df['user_rating(10)'] > 9
msk

0       True
1       True
2       True
3      False
4      False
       ...
245    False
246    False
247    False
248    False
249    False
Name: user_rating(10), Length: 250, dtype: bool

In [73]:
df[msk]

,movie name,year,certificate,runtime(min),genre,user_rating(10),director,first_actor,secound_actor,third_actor,fourth_actor,votes,metascore,gross collection($-M)
0,Jai Bhim,-2021,TV-MA,164 min,"Crime, Drama",9.4,T.J. Gnanavel,Suriya,Lijo Mol Jose,Manikandan,Rajisha Vijayan,163431,NaN,NaN
1,The Shawshank Redemption,-1994,R,142 min,Drama,9.3,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2515762,80.0,$28.34M
2,The Godfather,-1972,R,175 min,"Crime, Drama",9.2,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1732749,100.0,$134.97M

### Top 10 movies per metascore and user rating

In [76]:
ms10 = df.sort_values(['metascore'],ascending=False).head(10)
ms10

,movie name,year,certificate,runtime(min),genre,user_rating(10),director,first_actor,secound_actor,third_actor,fourth_actor,votes,metascore,gross collection($-M)
112,Vertigo,-1958,PG,128 min,"Mystery, Romance, Thriller",8.3,Alfred Hitchcock,James Stewart,Kim Novak,Barbara Bel Geddes,Tom Helmore,387477,100.0,$3.20M
109,Lawrence of Arabia,-1962,Approved,228 min,"Adventure, Biography, Drama",8.3,David Lean,Peter O'Toole,Alec Guinness,Anthony Quinn,Jack Hawkins,283057,100.0,$44.82M
117,Citizen Kane,-1941,PG,119 min,"Drama, Mystery",8.3,Orson Welles,Orson Welles,Joseph Cotten,Dorothy Comingore,Agnes Moorehead,427403,100.0,$1.59M
50,Casablanca,-1942,PG,102 min,"Drama, Romance, War",8.5,Michael Curtiz,Humphrey Bogart,Ingrid Bergman,Paul Henreid,Claude Rains,549646,100.0,$1.02M
49,Rear Window,-1954,PG,112 min,"Mystery, Thriller",8.5,Alfred Hitchcock,James Stewart,Grace Kelly,Wendell Corey,Thelma Ritter,471860,100.0,$36.76M
2,The Godfather,-1972,R,175 min,"Crime, Drama",9.2,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1732749,100.0,$134.97M
224,Fanny and Alexander,-1982,R,188 min,Drama,8.1,Ingmar Bergman,Bertil Guve,Pernilla Allwin,Kristina Adolphson,B√∂rje Ahlstedt,62011,100.0,$4.97M
113,Singin' in the Rain,-1952,G,103 min,"Comedy, Musical, Romance",8.3,Stanley Donen,Gene Kelly,Gene Kelly,Donald O'Connor,Debbie Reynolds,232106,99.0,$8.82M
52,City Lights,-1931,G,87 min,"Comedy, Drama, Romance",8.5,Charles Chaplin,Charles Chaplin,Virginia Cherrill,Florence Lee,Harry Myers,178296,99.0,$0.02M
31,Seven Samurai,-1954,Not Rated,207 min,"Action, Drama",8.6,Akira Kurosawa,Toshir√¥ Mifune,Takashi Shimura,Keiko Tsushima,Yukiko Shimazaki,333085,98.0,$0.27M

In [78]:
ra10 = df.sort_values(['user_rating(10)'],ascending=False).head(10)
ra10

,movie name,year,certificate,runtime(min),genre,user_rating(10),director,first_actor,secound_actor,third_actor,fourth_actor,votes,metascore,gross collection($-M)
0,Jai Bhim,-2021,TV-MA,164 min,"Crime, Drama",9.4,T.J. Gnanavel,Suriya,Lijo Mol Jose,Manikandan,Rajisha Vijayan,163431,NaN,NaN
1,The Shawshank Redemption,-1994,R,142 min,Drama,9.3,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2515762,80.0,$28.34M
2,The Godfather,-1972,R,175 min,"Crime, Drama",9.2,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1732749,100.0,$134.97M
3,The Dark Knight,-2008,PG-13,152 min,"Action, Crime, Drama",9.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2466041,84.0,$534.86M
4,The Godfather: Part II,-1974,R,202 min,"Crime, Drama",9.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1202401,90.0,$57.30M
5,12 Angry Men,-1957,Approved,96 min,"Crime, Drama",9.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,742970,96.0,$4.36M
6,The Lord of the Rings: The Return of the King,-2003,PG-13,201 min,"Action, Adventure, Drama",8.9,Peter Jackson,Elijah Wood,Viggo Mortensen,Ian McKellen,Orlando Bloom,1737140,94.0,$377.85M
7,Pulp Fiction,-1994,R,154 min,"Crime, Drama",8.9,Quentin Tarantino,John Travolta,Uma Thurman,Samuel L. Jackson,Bruce Willis,1939304,94.0,$107.93M
8,Schindler's List,-1993,R,195 min,"Biography, Drama, History",8.9,Steven Spielberg,Liam Neeson,Ralph Fiennes,Ben Kingsley,Caroline Goodall,1286186,94.0,$96.90M
12,The Lord of the Rings: The Fellowship of the Ring,-2001,PG-13,178 min,"Action, Adventure, Drama",8.8,Peter Jackson,Elijah Wood,Ian McKellen,Orlando Bloom,Sean Bean,1758145,92.0,$315.54M

### Top 10 genres

In [81]:
df['genre'].value_counts().to_frame().head(10)

                              count
genre
Drama                            22
Crime, Drama                     14
Biography, Drama, History         9
Drama, War                        8
Crime, Drama, Mystery             8
Animation, Adventure, Comedy      8
Action, Crime, Drama              7
Drama, Romance                    7
Action, Adventure, Drama          6
Action, Adventure, Sci-Fi         5

### Top 10 Directories

In [85]:
df['director '].value_counts().to_frame().head(10)

                   count
director
Christopher Nolan      7
Stanley Kubrick        7
Akira Kurosawa         7
Martin Scorsese        7
Alfred Hitchcock       6
Steven Spielberg       6
Charles Chaplin        5
Ingmar Bergman         5
Quentin Tarantino      5
Billy Wilder           5

### Top 10 First Actors

In [89]:
df['first_actor'].value_counts().to_frame().head(10)

                   count
first_actor
Robert De Niro         6
Tom Hanks              5
Charles Chaplin        5
Leonardo DiCaprio      5
James Stewart          4
Clint Eastwood         4
Toshir√¥ Mifune         4
Christian Bale         4
Al Pacino              3
Harrison Ford          3

### Top 10 Second Actors

In [93]:
df['secound_actor'].value_counts().to_frame().head(10)

                   count
secound_actor
Matt Damon             3
Robert De Niro         3
Harrison Ford          3
Paulette Goddard       2
Liv Ullmann            2
Alec Guinness          2
Brad Pitt              2
Julie Delpy            2
Joseph Cotten          2
Robert Downey Jr.      2

#  some questions based on data business

### for (drama) genere which year get high total gross collection ?

######  before we starting we should make year an int numebr

In [99]:
int('-1990'[1:])

1990

In [101]:
df['year'].unique()

array(['-2021', '-1994', '-1972', '-2008', '-1974', '-1957', '-2003',
       '-1993', '-2010', '-1999', '-2001', '-1966', '-2002', '-1990',
       '-1980', '-1975', '-2019', '-2014', '-1998', '-1997', '-1995',
       '-1991', '-1977', '-1962', '-1954', '-1946', '-2011', '-2006',
       '-2000', '-1988', '-1985', '-1968', '-1960', '-1942', '-1936',
       '-1931', '-2020', '-2018', '-2016', '(I) (2017)', '-2012', '-2009',
       '-2007', '-1981', '-1979', '-1963', '-1964', '-1955', '-1950',
       '-1940', '(I) (2020)', '-2004', '-1992', '-1987', '-1986', '-1984',
       '-1983', '-1973', '-1971', '-1959', '-1958', '-1952', '-1948',
       '-1944', '-1941', '-1927', '-1921', '-2013', '-2005', '-1996',
       '-1989', '-1978', '-1976', '-1969', '-1965', '-1961', '-1953',
       '-1925', '-1924', '-2017', '(I) (2015)', '(I) (2013)', '-2015',
       '-1982', '-1967', '-1949', '-1939', '-1934', '-1928', '-1926'],
      dtype=object)

In [103]:
int(df['year'].unique()[0].split('-')[1])

2021

In [105]:
int(df['year'].unique()[39].split(" ")[1][1:-1])

2017

In [107]:
def year(x):
    if len(x.split(' ')) > 1:
        return int(x.split(' ')[1][1:-1])
    else:
        return int(x[1:])

In [109]:
year('-2023')

2023

In [111]:
year('(I) (2020)')

2020

In [113]:
df['year'] = df['year'].apply(year)

In [115]:
df['year'].unique()

array([2021, 1994, 1972, 2008, 1974, 1957, 2003, 1993, 2010, 1999, 2001,
       1966, 2002, 1990, 1980, 1975, 2019, 2014, 1998, 1997, 1995, 1991,
       1977, 1962, 1954, 1946, 2011, 2006, 2000, 1988, 1985, 1968, 1960,
       1942, 1936, 1931, 2020, 2018, 2016, 2017, 2012, 2009, 2007, 1981,
       1979, 1963, 1964, 1955, 1950, 1940, 2004, 1992, 1987, 1986, 1984,
       1983, 1973, 1971, 1959, 1958, 1952, 1948, 1944, 1941, 1927, 1921,
       2013, 2005, 1996, 1989, 1978, 1976, 1969, 1965, 1961, 1953, 1925,
       1924, 2015, 1982, 1967, 1949, 1939, 1934, 1928, 1926], dtype=int64)

In [117]:
df.dtypes

movie name                object
year                       int64
certificate               object
runtime(min)              object
genre                     object
user_rating(10)          float64
director                  object
first_actor               object
secound_actor             object
third_actor               object
fourth_actor              object
votes                      int64
metascore                float64
gross collection($-M)     object
dtype: object

In [119]:
msk = df['genre'] == 'Drama'
msk

0      False
1       True
2      False
3      False
4      False
       ...
245    False
246    False
247    False
248    False
249    False
Name: genre, Length: 250, dtype: bool

In [121]:
df[msk]

,movie name,year,certificate,runtime(min),genre,user_rating(10),director,first_actor,secound_actor,third_actor,fourth_actor,votes,metascore,gross collection($-M)
1,The Shawshank Redemption,1994,R,142 min,Drama,9.3,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2515762,80.0,$28.34M
11,Fight Club,1999,R,139 min,Drama,8.8,David Fincher,Brad Pitt,Edward Norton,Meat Loaf,Zach Grenier,1978491,66.0,$37.03M
19,One Flew Over the Cuckoo's Nest,1975,R,133 min,Drama,8.7,Milos Forman,Jack Nicholson,Louise Fletcher,Michael Berryman,Peter Brocco,965879,84.0,$112.00M
39,American History X,1998,R,119 min,Drama,8.5,Tony Kaye,Edward Norton,Edward Furlong,Beverly D'Angelo,Jennifer Lien,1078864,62.0,$6.72M
54,Capernaum,2018,R,126 min,Drama,8.4,Nadine Labaki,Zain Al Rafeea,Yordanos Shiferaw,Boluwatife Treasure Bankole,Kawsar Al Haddad,79461,75.0,$1.66M
79,Pather Panchali,1955,Not Rated,125 min,Drama,8.4,Satyajit Ray,Kanu Bannerjee,Karuna Bannerjee,Subir Banerjee,Chunibala Devi,29836,NaN,$0.54M
83,The Hunt,2012,R,115 min,Drama,8.3,Thomas Vinterberg,Mads Mikkelsen,Thomas Bo Larsen,Annika Wedderkopp,Lasse Fogelstr√∏m,310146,77.0,$0.69M
84,A Separation,2011,PG-13,123 min,Drama,8.3,Asghar Farhadi,Payman Maadi,Leila Hatami,Sareh Bayat,Shahab Hosseini,235060,95.0,$7.10M
90,Requiem for a Dream,2000,R,102 min,Drama,8.3,Darren Aronofsky,Ellen Burstyn,Jared Leto,Jennifer Connelly,Marlon Wayans,804961,68.0,$3.64M
91,American Beauty,1999,R,122 min,Drama,8.3,Sam Mendes,Kevin Spacey,Annette Bening,Thora Birch,Wes Bentley,1115742,84.0,$130.10M
114,Ikiru,1952,Not Rated,143 min,Drama,8.3,Akira Kurosawa,Takashi Shimura,Nobuo Kaneko,Shin'ichi Himori,Haruo Tanaka,74978,NaN,$0.06M
115,Bicycle Thieves,1948,Not Rated,89 min,Drama,8.3,Vittorio De Sica,Lamberto Maggiorani,Enzo Staiola,Lianella Carell,Elena Altieri,157775,NaN,$0.33M
130,Miracle in Cell No. 7,2019,TV-14,132 min,Drama,8.2,Mehmet Ada √ñztekin,Aras Bulut Iynemli,Nisa Sofiya Aksongur,Deniz Baysal,Celile Toyon Uysal,44182,NaN,NaN
133,There Will Be Blood,2007,R,158 min,Drama,8.2,Paul Thomas Anderson,Daniel Day-Lewis,Paul Dano,Ciar√°n Hinds,Martin Stringer,554523,93.0,$40.22M
166,Tokyo Story,1953,Not Rated,136 min,Drama,8.2,Yasujir√¥ Ozu,Chish√ª Ry√ª,Chieko Higashiyama,S√¥ Yamamura,Setsuko Hara,58792,NaN,NaN
168,All About Eve,1950,Passed,138 min,Drama,8.2,Joseph L. Mankiewicz,Bette Davis,Anne Baxter,George Sanders,Celeste Holm,127476,98.0,$0.01M
189,Gran Torino,2008,R,116 min,Drama,8.1,Clint Eastwood,Clint Eastwood,Bee Vang,Christopher Carley,Ahney Her,749991,72.0,$148.10M
211,Trainspotting,1996,R,93 min,Drama,8.1,Danny Boyle,Ewan McGregor,Ewen Bremner,Jonny Lee Miller,Kevin McKidd,663132,83.0,$16.50M
221,"Paris, Texas",1984,R,145 min,Drama,8.1,Wim Wenders,Harry Dean Stanton,Nastassja Kinski,Dean Stockwell,Sam Berry,101352,78.0,$2.18M
224,Fanny and Alexander,1982,R,188 min,Drama,8.1,Ingmar Bergman,Bertil Guve,Pernilla Allwin,Kristina Adolphson,B√∂rje Ahlstedt,62011,100.0,$4.97M
231,Network,1976,R,121 min,Drama,8.1,Sidney Lumet,Faye Dunaway,William Holden,Peter Finch,Robert Duvall,154012,83.0,NaN
239,Nights of Cabiria,1957,Not Rated,110 min,Drama,8.1,Federico Fellini,Giulietta Masina,Fran√ßois P√©rier,Franca Marzi,Dorian Gray,47031,NaN,$0.75M

### What is the high gross collection for each year

In [124]:
float(df['gross collection($-M)'].unique()[2][1:-1])

134.97

In [126]:
df['gross collection($-M)'] = df['gross collection($-M)'].apply(lambda x : x if pd.isnull(x) else float(x[1:-1]))

In [128]:
df

,movie name,year,certificate,runtime(min),genre,user_rating(10),director,first_actor,secound_actor,third_actor,fourth_actor,votes,metascore,gross collection($-M)
0,Jai Bhim,2021,TV-MA,164 min,"Crime, Drama",9.4,T.J. Gnanavel,Suriya,Lijo Mol Jose,Manikandan,Rajisha Vijayan,163431,NaN,NaN
1,The Shawshank Redemption,1994,R,142 min,Drama,9.3,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2515762,80.0,28.34
2,The Godfather,1972,R,175 min,"Crime, Drama",9.2,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1732749,100.0,134.97
3,The Dark Knight,2008,PG-13,152 min,"Action, Crime, Drama",9.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2466041,84.0,534.86
4,The Godfather: Part II,1974,R,202 min,"Crime, Drama",9.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1202401,90.0,57.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,Mr. Smith Goes to Washington,1939,Passed,129 min,"Comedy, Drama",8.1,Frank Capra,James Stewart,Jean Arthur,Claude Rains,Edward Arnold,112642,73.0,9.60
246,Gone with the Wind,1939,Passed,238 min,"Drama, History, Romance",8.1,Victor Fleming,George Cukor,Sam Wood,Clark Gable,Vivien Leigh,304725,97.0,198.68
247,It Happened One Night,1934,Passed,105 min,"Comedy, Romance",8.1,Frank Capra,Clark Gable,Claudette Colbert,Walter Connolly,Roscoe Karns,100198,87.0,4.36
248,The Passion of Joan of Arc,1928,Passed,114 min,"Biography, Drama, History",8.1,Carl Theodor Dreyer,Maria Falconetti,Eugene Silvain,Andr√© Berley,Maurice Schutz,52264,NaN,0.02
249,The General,1926,Passed,67 min,"Action, Adventure, Comedy",8.1,Clyde Bruckman,Buster Keaton,Buster Keaton,Marion Mack,Glen Cavender,88022,NaN,1.03

In [130]:
df[msk].groupby(['year'])['gross collection($-M)'].sum().sort_values(ascending = False)

year
1999    167.13
2008    148.10
1975    112.00
2007     40.22
1994     28.34
1996     16.50
2011      7.10
1998      6.72
1982      4.97
2000      3.64
1984      2.18
2018      1.66
1957      0.75
2012      0.69
1955      0.54
1948      0.33
1952      0.06
1950      0.01
1976      0.00
1953      0.00
2019      0.00
Name: gross collection($-M), dtype: float64

In [134]:
df.columns

Index(['movie name ', 'year', 'certificate', 'runtime(min)', 'genre',
       'user_rating(10)', 'director ', 'first_actor', 'secound_actor',
       'third_actor', 'fourth_actor', 'votes', 'metascore',
       'gross collection($-M)'],
      dtype='object')

### get average rating for each director ?

In [137]:
df.groupby(['director '])['user_rating(10)'].mean().to_frame()

                       user_rating(10)
director
Aamir Khan                    8.400000
Adam Elliot                   8.100000
Akira Kurosawa                8.314286
Alejandro G. I√±√°rritu         8.100000
Alfred Hitchcock              8.316667
...                                ...
William Wyler                 8.100000
Wim Wenders                   8.100000
Wolfgang Petersen             8.300000
Yasujir√¥ Ozu                  8.200000
Yavuz Turgul                  8.200000

[154 rows x 1 columns]

### is there is a correlation between rating and voting ?

In [141]:
df[['user_rating(10)','votes']].corr()

                 user_rating(10)     votes
user_rating(10)         1.000000  0.556386
votes                   0.556386  1.000000

### what is average gross collection after 2000 and before 2000 ?

In [145]:
msk = df['year'] > 2000
msk1 = df['year'] < 2000

In [147]:
print(f"the average of gross collection after 2000 is :{df[msk]['gross collection($-M)'].mean()}") 
print(f"the average of gross collection before 2000 is :{df[msk1]['gross collection($-M)'].mean()}")

the average of gross collection after 2000 is :136.17291139240507
the average of gross collection before 2000 is :60.27147286821706

### is there is correlation between gross collection and rating ?

In [150]:
df[['gross collection($-M)','user_rating(10)']].corr() ## week

                       gross collection($-M)  user_rating(10)
gross collection($-M)               1.000000         0.206913
user_rating(10)                     0.206913         1.000000

###  for (Martin Scorsese) director what is most work gener ?

In [154]:
msk = df['director '] == 'Martin Scorsese'
msk

0      False
1      False
2      False
3      False
4      False
       ...
245    False
246    False
247    False
248    False
249    False
Name: director , Length: 250, dtype: bool

In [156]:
df[msk]['genre'].value_counts()

genre
Crime, Drama                2
Biography, Crime, Drama     1
Action, Crime, Drama        1
Mystery, Thriller           1
Biography, Comedy, Crime    1
Biography, Drama, Sport     1
Name: count, dtype: int64

###  for (Tim Robbins	) actor1 what is highest work rate ?

In [160]:
msk = df['first_actor'] == 'Tim Robbins'
msk

0      False
1       True
2      False
3      False
4      False
       ...
245    False
246    False
247    False
248    False
249    False
Name: first_actor, Length: 250, dtype: bool

In [162]:
df[msk].value_counts('user_rating(10)',ascending=False)

user_rating(10)
9.3    1
Name: count, dtype: int64

### what is the top 5 movies get the heigth votes ?

In [165]:
df.sort_values(by=['votes'],ascending=False).head()

,movie name,year,certificate,runtime(min),genre,user_rating(10),director,first_actor,secound_actor,third_actor,fourth_actor,votes,metascore,gross collection($-M)
1,The Shawshank Redemption,1994,R,142 min,Drama,9.3,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2515762,80.0,28.34
3,The Dark Knight,2008,PG-13,152 min,"Action, Crime, Drama",9.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2466041,84.0,534.86
9,Inception,2010,PG-13,148 min,"Action, Adventure, Sci-Fi",8.8,Christopher Nolan,Leonardo DiCaprio,Joseph Gordon-Levitt,Elliot Page,Ken Watanabe,2211491,74.0,292.58
11,Fight Club,1999,R,139 min,Drama,8.8,David Fincher,Brad Pitt,Edward Norton,Meat Loaf,Zach Grenier,1978491,66.0,37.03
13,Forrest Gump,1994,PG-13,142 min,"Drama, Romance",8.8,Robert Zemeckis,Tom Hanks,Robin Wright,Gary Sinise,Sally Field,1941394,82.0,330.25

### What is the movies that Robert De Niro is worked in ?

In [168]:
msk = df['first_actor'] == 'Robert De Niro'
msk1 = df['secound_actor'] == 'Robert De Niro'
msk2 = df['third_actor'] == 'Robert De Niro'
msk3 = df['fourth_actor'] == 'Robert De Niro'

In [170]:
m1 = df[msk]['movie name '] ## when he was the first actor

In [172]:
m2 = df[msk1]['movie name '] ## whaen he was the secound actor

In [174]:
m1

17                      Goodfellas
100    Once Upon a Time in America
145                         Casino
151                    Raging Bull
153                    Taxi Driver
229                The Deer Hunter
Name: movie name , dtype: object

In [176]:
m2

4      The Godfather: Part II
55                      Joker
144                      Heat
Name: movie name , dtype: object

In [178]:
ma_df = pd.DataFrame({'Actor 1':m1.reset_index(drop=True),'Actor 2':m2.reset_index(drop=True)})
ma_df

                       Actor 1                 Actor 2
0                   Goodfellas  The Godfather: Part II
1  Once Upon a Time in America                   Joker
2                       Casino                    Heat
3                  Raging Bull                     NaN
4                  Taxi Driver                     NaN
5              The Deer Hunter                     NaN

In [180]:
df[msk2]['movie name '] ## whaen he was the thierd actor

Series([], Name: movie name , dtype: object)

In [182]:
df[msk3]['movie name '] ## whaen he was the fourth actor

Series([], Name: movie name , dtype: object)

### What is the most certificate obtained ?

In [185]:
df['certificate'].value_counts()

certificate
R            106
PG            36
PG-13         31
Not Rated     30
G             15
Passed        15
Approved      12
TV-MA          2
TV-14          1
M              1
GP             1
Name: count, dtype: int64

### What is the average of the votes for each year ?

In [188]:
df.groupby(['year'])['votes'].mean().to_frame().reset_index()

    year          votes
0   1921  121905.000000
1   1924   46967.000000
2   1925  107737.000000
3   1926   88022.000000
4   1927  168795.000000
..   ...            ...
81  2017  543295.666667
82  2018  404072.800000
83  2019  549226.571429
84  2020   96444.500000
85  2021  301468.333333

[86 rows x 2 columns]

### What is the movies that the certificate is (R) and year greather than 1996

In [191]:
msk = df['certificate'] == 'R'
msk1 = df['year'] > 1996

In [193]:
df[msk & msk1]

,movie name,year,certificate,runtime(min),genre,user_rating(10),director,first_actor,secound_actor,third_actor,fourth_actor,votes,metascore,gross collection($-M)
11,Fight Club,1999,R,139 min,Drama,8.8,David Fincher,Brad Pitt,Edward Norton,Meat Loaf,Zach Grenier,1978491,66.0,37.03
16,The Matrix,1999,R,136 min,"Action, Sci-Fi",8.7,Lana Wachowski,Lilly Wachowski,Keanu Reeves,Laurence Fishburne,Carrie-Anne Moss,1807421,73.0,171.48
20,Parasite,2019,R,132 min,"Comedy, Drama, Thriller",8.6,Bong Joon Ho,Kang-ho Song,Sun-kyun Lee,Yeo-jeong Cho,Woo-sik Choi,698173,96.0,53.37
22,City of God,2002,R,130 min,"Crime, Drama",8.6,Fernando Meirelles,K√°tia Lund,Alexandre Rodrigues,Leandro Firmino,Matheus Nachtergaele,729710,79.0,7.56
24,Saving Private Ryan,1998,R,169 min,"Drama, War",8.6,Steven Spielberg,Tom Hanks,Matt Damon,Tom Sizemore,Edward Burns,1313750,91.0,216.54
25,The Green Mile,1999,R,189 min,"Crime, Drama, Fantasy",8.6,Frank Darabont,Tom Hanks,Michael Clarke Duncan,David Morse,Bonnie Hunt,1223918,61.0,136.80
33,Whiplash,2014,R,106 min,"Drama, Music",8.5,Damien Chazelle,Miles Teller,J.K. Simmons,Melissa Benoist,Paul Reiser,780652,88.0,13.09
34,The Intouchables,2011,R,112 min,"Biography, Comedy, Drama",8.5,Olivier Nakache,√âric Toledano,Fran√ßois Cluzet,Omar Sy,Anne Le Ny,810538,57.0,13.18
36,The Departed,2006,R,151 min,"Action, Crime, Drama",8.5,Martin Scorsese,Leonardo DiCaprio,Matt Damon,Jack Nicholson,Mark Wahlberg,1259042,85.0,132.38
37,The Pianist,2002,R,150 min,"Biography, Drama, Music",8.5,Roman Polanski,Adrien Brody,Thomas Kretschmann,Frank Finlay,Emilia Fox,784426,85.0,32.57
38,Gladiator,2000,R,155 min,"Action, Adventure, Drama",8.5,Ridley Scott,Russell Crowe,Joaquin Phoenix,Connie Nielsen,Oliver Reed,1421894,67.0,187.71
39,American History X,1998,R,119 min,Drama,8.5,Tony Kaye,Edward Norton,Edward Furlong,Beverly D'Angelo,Jennifer Lien,1078864,62.0,6.72
54,Capernaum,2018,R,126 min,Drama,8.4,Nadine Labaki,Zain Al Rafeea,Yordanos Shiferaw,Boluwatife Treasure Bankole,Kawsar Al Haddad,79461,75.0,1.66
55,Joker,2019,R,122 min,"Crime, Drama, Thriller",8.4,Todd Phillips,Joaquin Phoenix,Robert De Niro,Zazie Beetz,Frances Conroy,1117695,59.0,335.45
62,Django Unchained,2012,R,165 min,"Drama, Western",8.4,Quentin Tarantino,Jamie Foxx,Christoph Waltz,Leonardo DiCaprio,Kerry Washington,1454518,81.0,162.81
67,The Lives of Others,2006,R,137 min,"Drama, Mystery, Thriller",8.4,Florian Henckel von Donnersmarck,Ulrich M√ºhe,Martina Gedeck,Sebastian Koch,Ulrich Tukur,377066,89.0,11.29
68,Oldboy,2003,R,101 min,"Action, Drama, Mystery",8.4,Park Chan-Wook,Choi Min-sik,Yoo Ji-Tae,Kang Hye-jeong,Kim Byeong-Ok,549858,77.0,0.71
69,Memento,2000,R,113 min,"Mystery, Thriller",8.4,Christopher Nolan,Guy Pearce,Carrie-Anne Moss,Joe Pantoliano,Mark Boone Junior,1184128,80.0,25.54
82,1917,2019,R,119 min,"Action, Drama, War",8.3,Sam Mendes,Dean-Charles Chapman,George MacKay,Daniel Mays,Colin Firth,518278,78.0,159.23
83,The Hunt,2012,R,115 min,Drama,8.3,Thomas Vinterberg,Mads Mikkelsen,Thomas Bo Larsen,Annika Wedderkopp,Lasse Fogelstr√∏m,310146,77.0,0.69
85,Incendies,2010,R,131 min,"Drama, Mystery, War",8.3,Denis Villeneuve,Lubna Azabal,M√©lissa D√©sormeaux-Poulin,Maxim Gaudette,Mustafa Kamel,166777,80.0,6.86
87,Inglourious Basterds,2009,R,153 min,"Adventure, Drama, War",8.3,Quentin Tarantino,Brad Pitt,Diane Kruger,Eli Roth,M√©lanie Laurent,1357332,69.0,120.54
88,Eternal Sunshine of the Spotless Mind,2004,R,108 min,"Drama, Romance, Sci-Fi",8.3,Michel Gondry,Jim Carrey,Kate Winslet,Tom Wilkinson,Gerry Robert Byrne,960761,89.0,34.40
89,Am√©lie,2001,R,122 min,"Comedy, Romance",8.3,Jean-Pierre Jeunet,Audrey Tautou,Mathieu Kassovitz,Rufus,Lorella Cravotta,732054,69.0,33.23
90,Requiem for a Dream,2000,R,102 min,Drama,8.3,Darren Aronofsky,Ellen Burstyn,Jared Leto,Jennifer Connelly,Marlon Wayans,804961,68.0,3.64
91,American Beauty,1999,R,122 min,Drama,8.3,Sam Mendes,Kevin Spacey,Annette Bening,Thora Birch,Wes Bentley,1115742,84.0,130.10
92,Good Will Hunting,1997,R,126 min,"Drama, Romance",8.3,Gus Van Sant,Robin Williams,Matt Damon,Ben Affleck,Stellan Skarsg√•rd,915708,70.0,138.43
126,The Secret in Their Eyes,2009,R,129 min,"Drama, Mystery, Romance",8.2,Juan Jos√© Campanella,Ricardo Dar√≠n,Soledad Villamil,Pablo Rago,Carla Quevedo,203213,80.0,6.39
128,Shutter Island,2010,R,138 min,"Mystery, Thriller",8.2,Martin Scorsese,Leonardo DiCaprio,Emily Mortimer,Mark Ruffalo,Ben Kingsley,1221247,63.0,128.01
131,The Wolf of Wall Street,2013,R,180 min,"Biography, Comedy, Crime",8.2,Martin Scorsese,Leonardo DiCaprio,Jonah Hill,Margot Robbie,Matthew McConaughey,1295702,75.0,116.90
133,There Will Be Blood,2007,R,158 min,Drama,8.2,Paul Thomas Anderson,Daniel Day-Lewis,Paul Dano,Ciar√°n Hinds,Martin Stringer,554523,93.0,40.22
134,Pan's Labyrinth,2006,R,118 min,"Drama, Fantasy, War",8.2,Guillermo del Toro,Ivana Baquero,Ariadna Gil,Sergi L√≥pez,Maribel Verd√∫,645807,98.0,37.63
137,Downfall,2004,R,156 min,"Biography, Drama, History",8.2,Oliver Hirschbiegel,Bruno Ganz,Alexandra Maria Lara,Ulrich Matthes,Juliane K√∂hler,345017,82.0,5.51
140,Snatch,2000,R,102 min,"Comedy, Crime",8.2,Guy Ritchie,Jason Statham,Brad Pitt,Stephen Graham,Vinnie Jones,821953,55.0,30.33
141,"Lock, Stock and Two Smoking Barrels",1998,R,107 min,"Action, Comedy, Crime",8.2,Guy Ritchie,Jason Flemyng,Dexter Fletcher,Nick Moran,Jason Statham,561789,66.0,3.90
142,L.A. Confidential,1997,R,138 min,"Crime, Drama, Mystery",8.2,Curtis Hanson,Kevin Spacey,Russell Crowe,Guy Pearce,Kim Basinger,560400,90.0,64.62
173,"Three Billboards Outside Ebbing, Missouri",2017,R,115 min,"Comedy, Crime, Drama",8.1,Martin McDonagh,Frances McDormand,Woody Harrelson,Sam Rockwell,Caleb Landry Jones,475981,88.0,54.51
175,Logan,2017,R,137 min,"Action, Drama, Sci-Fi",8.1,James Mangold,Hugh Jackman,Patrick Stewart,Dafne Keen,Boyd Holbrook,704205,77.0,226.28
176,Room,2015,R,118 min,"Drama, Thriller",8.1,Lenny Abrahamson,Brie Larson,Jacob Tremblay,Sean Bridgers,Wendy Crewson,398899,86.0,14.68
177,Wild Tales,2014,R,122 min,"Comedy, Drama, Thriller",8.1,Dami√°n Szifron,Dar√≠o Grandinetti,Mar√≠a Marull,M√≥nica Villa,Diego Starosta,189591,77.0,3.11
178,The Grand Budapest Hotel,2014,R,99 min,"Adventure, Comedy, Crime",8.1,Wes Anderson,Ralph Fiennes,F. Murray Abraham,Mathieu Amalric,Adrien Brody,760453,88.0,59.10
179,Gone Girl,2014,R,149 min,"Drama, Mystery, Thriller",8.1,David Fincher,Ben Affleck,Rosamund Pike,Neil Patrick Harris,Tyler Perry,926047,79.0,167.77
180,Hacksaw Ridge,2016,R,139 min,"Biography, Drama, History",8.1,Mel Gibson,Andrew Garfield,Sam Worthington,Luke Bracey,Teresa Palmer,480632,71.0,67.21
182,12 Years a Slave,2013,R,134 min,"Biography, Drama, History",8.1,Steve McQueen,Chiwetel Ejiofor,Michael Kenneth Williams,Michael Fassbender,Brad Pitt,672833,96.0,56.67
183,Rush,2013,R,123 min,"Action, Biography, Drama",8.1,Ron Howard,Daniel Br√ºhl,Chris Hemsworth,Olivia Wilde,Alexandra Maria Lara,459118,74.0,26.95
185,Spotlight,2015,R,129 min,"Biography, Crime, Drama",8.1,Tom McCarthy,Mark Ruffalo,Michael Keaton,Rachel McAdams,Liev Schreiber,449414,93.0,45.06
186,Prisoners,2013,R,153 min,"Crime, Drama, Mystery",8.1,Denis Villeneuve,Hugh Jackman,Jake Gyllenhaal,Viola Davis,Melissa Leo,654280,70.0,61.00
187,Mad Max: Fury Road,2015,R,120 min,"Action, Adventure, Sci-Fi",8.1,George Miller,Tom Hardy,Charlize Theron,Nicholas Hoult,Zo√´ Kravitz,944613,90.0,154.06
189,Gran Torino,2008,R,116 min,Drama,8.1,Clint Eastwood,Clint Eastwood,Bee Vang,Christopher Carley,Ahney Her,749991,72.0,148.10
194,Into the Wild,2007,R,148 min,"Adventure, Biography, Drama",8.1,Sean Penn,Emile Hirsch,Vince Vaughn,Catherine Keener,Marcia Gay Harden,601693,73.0,18.35
195,No Country for Old Men,2007,R,122 min,"Crime, Drama, Thriller",8.1,Ethan Coen,Joel Coen,Tommy Lee Jones,Javier Bardem,Josh Brolin,917570,91.0,74.28
196,V for Vendetta,2005,R,132 min,"Action, Drama, Sci-Fi",8.1,James McTeigue,Hugo Weaving,Natalie Portman,Rupert Graves,Stephen Rea,1081061,62.0,70.51
199,Before Sunset,2004,R,80 min,"Drama, Romance",8.1,Richard Linklater,Ethan Hawke,Julie Delpy,Vernon Dobtcheff,Louise Lemoine Torr√®s,251581,90.0,5.82
201,Kill Bill: Vol. 1,2003,R,111 min,"Action, Crime, Drama",8.1,Quentin Tarantino,Uma Thurman,David Carradine,Daryl Hannah,Michael Madsen,1061744,69.0,70.10
204,Amores perros,2000,R,154 min,"Drama, Thriller",8.1,Alejandro G. I√±√°rritu,Emilio Echevarr√≠a,Gael Garc√≠a Bernal,Goya Toledo,√Ålvaro Guerrero,234220,83.0,5.38
209,The Big Lebowski,1998,R,117 min,"Comedy, Crime, Sport",8.1,Joel Coen,Ethan Coen,Jeff Bridges,John Goodman,Julianne Moore,775912,71.0,17.50

### What is the movie with a maximum Runtime ?

##### we should to repair runtime column to (int)

In [197]:
df['runtime(min)'].unique()

array(['164 min', '142 min', '175 min', '152 min', '202 min', '96 min',
       '201 min', '154 min', '195 min', '148 min', '139 min', '178 min',
       '179 min', '136 min', '146 min', '124 min', '133 min', '132 min',
       '169 min', '130 min', '125 min', '189 min', '116 min', '127 min',
       '118 min', '121 min', '207 min', '106 min', '112 min', '151 min',
       '150 min', '155 min', '119 min', '110 min', '88 min', '137 min',
       '89 min', '165 min', '109 min', '102 min', '87 min', '160 min',
       '126 min', '122 min', '161 min', '117 min', '181 min', '149 min',
       '105 min', '170 min', '98 min', '101 min', '113 min', '134 min',
       '115 min', '147 min', '143 min', '95 min', '123 min', '131 min',
       '97 min', '153 min', '108 min', '81 min', '99 min', '229 min',
       '129 min', '228 min', '128 min', '103 min', '107 min', '68 min',
       '321 min', '138 min', '180 min', '158 min', '140 min', '156 min',
       '135 min', '86 min', '162 min', '114 min', '91 min', '172 min',
       '45 min', '145 min', '120 min', '93 min', '92 min', '80 min',
       '111 min', '100 min', '141 min', '188 min', '94 min', '183 min',
       '185 min', '83 min', '205 min', '212 min', '238 min', '67 min'],
      dtype=object)

In [199]:
int(df['runtime(min)'][0].split(' ')[0])

164

In [201]:
def correct_time(x):
    val = x.split(' ')
    if len(val) > 1:
        return pd.Series(int(val[0]))

In [203]:
correct_time('129 min')

0    129
dtype: int64

In [205]:
df['runtime(min)'] = df['runtime(min)'].apply(correct_time)

In [207]:
df

,movie name,year,certificate,runtime(min),genre,user_rating(10),director,first_actor,secound_actor,third_actor,fourth_actor,votes,metascore,gross collection($-M)
0,Jai Bhim,2021,TV-MA,164,"Crime, Drama",9.4,T.J. Gnanavel,Suriya,Lijo Mol Jose,Manikandan,Rajisha Vijayan,163431,NaN,NaN
1,The Shawshank Redemption,1994,R,142,Drama,9.3,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2515762,80.0,28.34
2,The Godfather,1972,R,175,"Crime, Drama",9.2,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1732749,100.0,134.97
3,The Dark Knight,2008,PG-13,152,"Action, Crime, Drama",9.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2466041,84.0,534.86
4,The Godfather: Part II,1974,R,202,"Crime, Drama",9.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1202401,90.0,57.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,Mr. Smith Goes to Washington,1939,Passed,129,"Comedy, Drama",8.1,Frank Capra,James Stewart,Jean Arthur,Claude Rains,Edward Arnold,112642,73.0,9.60
246,Gone with the Wind,1939,Passed,238,"Drama, History, Romance",8.1,Victor Fleming,George Cukor,Sam Wood,Clark Gable,Vivien Leigh,304725,97.0,198.68
247,It Happened One Night,1934,Passed,105,"Comedy, Romance",8.1,Frank Capra,Clark Gable,Claudette Colbert,Walter Connolly,Roscoe Karns,100198,87.0,4.36
248,The Passion of Joan of Arc,1928,Passed,114,"Biography, Drama, History",8.1,Carl Theodor Dreyer,Maria Falconetti,Eugene Silvain,Andr√© Berley,Maurice Schutz,52264,NaN,0.02
249,The General,1926,Passed,67,"Action, Adventure, Comedy",8.1,Clyde Bruckman,Buster Keaton,Buster Keaton,Marion Mack,Glen Cavender,88022,NaN,1.03

In [209]:
df['runtime(min)'].max()

321

In [211]:
df[df['runtime(min)'] == df['runtime(min)'].max()]

,movie name,year,certificate,runtime(min),genre,user_rating(10),director,first_actor,secound_actor,third_actor,fourth_actor,votes,metascore,gross collection($-M)
125,Gangs of Wasseypur,2012,Not Rated,321,"Action, Comedy, Crime",8.2,Anurag Kashyap,Manoj Bajpayee,Richa Chadha,Nawazuddin Siddiqui,Tigmanshu Dhulia,91598,89.0,NaN

In [213]:
df.columns

Index(['movie name ', 'year', 'certificate', 'runtime(min)', 'genre',
       'user_rating(10)', 'director ', 'first_actor', 'secound_actor',
       'third_actor', 'fourth_actor', 'votes', 'metascore',
       'gross collection($-M)'],
      dtype='object')

### what is the movies that have the R certificate

In [216]:
msk = df['certificate'] =='R'

In [218]:
df[msk]['movie name '].to_frame()

                  movie name
1    The Shawshank Redemption
2               The Godfather
4      The Godfather: Part II
7                Pulp Fiction
8            Schindler's List
..                        ...
225              Blade Runner
228             Life of Brian
229           The Deer Hunter
231                   Network
235             Andrei Rublev

[106 rows x 1 columns]

In [220]:
df['gross collection($-M)'].max()

858.37

In [222]:
msk = df[df['gross collection($-M)'] == df['gross collection($-M)'].max()]

In [224]:
msk['movie name ']

59    Avengers: Endgame
Name: movie name , dtype: object

In [226]:
msk

,movie name,year,certificate,runtime(min),genre,user_rating(10),director,first_actor,secound_actor,third_actor,fourth_actor,votes,metascore,gross collection($-M)
59,Avengers: Endgame,2019,PG-13,181,"Action, Adventure, Drama",8.4,Anthony Russo,Joe Russo,Robert Downey Jr.,Chris Evans,Mark Ruffalo,984371,78.0,858.37

### what is the rating for each year

In [229]:
df.groupby(['year'])['user_rating(10)'].max().sort_values(ascending=False)

year
2021    9.4
1994    9.3
1972    9.2
2008    9.0
1974    9.0
       ...
1934    8.1
1928    8.1
1926    8.1
1967    8.1
1949    8.1
Name: user_rating(10), Length: 86, dtype: float64

### What movie has the highest rating in 2021?

In [232]:
msk = df['year'] == 2021

In [234]:
msk1=df[msk]['user_rating(10)'] == df[msk]['user_rating(10)'].max()

In [236]:
df[msk][msk1]['movie name ']

0    Jai Bhim
Name: movie name , dtype: object

### what is the genre that has the highest votes

In [239]:
df.groupby(['genre'])['votes'].max().sort_values(ascending=False)

genre
Drama                         2515762
Action, Crime, Drama          2466041
Action, Adventure, Sci-Fi     2211491
Drama, Romance                1941394
Crime, Drama                  1939304
                               ...
Adventure, Drama, Thriller      58949
Animation, Action, Drama        49072
Action, Comedy, Romance         46967
Comedy, Romance, War            34727
Crime, Drama, History           26869
Name: votes, Length: 109, dtype: int64

In [241]:
df.columns

Index(['movie name ', 'year', 'certificate', 'runtime(min)', 'genre',
       'user_rating(10)', 'director ', 'first_actor', 'secound_actor',
       'third_actor', 'fourth_actor', 'votes', 'metascore',
       'gross collection($-M)'],
      dtype='object')

### Which year has the most movies been made?

In [244]:
df['year'].value_counts()

year
1995    8
1957    7
2019    7
2004    6
1997    6
       ..
1958    1
1936    1
1921    1
1927    1
1926    1
Name: count, Length: 86, dtype: int64

# Summary and Recommendations

## Summary
1. **Revenue and Budget Trends:**
   - Higher-budget movies tend to generate higher revenue, indicating the importance of investing in production quality and marketing.
   - Certain genres (e.g., Action, Adventure) consistently perform well in terms of revenue.

2. **Genre Analysis:**
   - Comedy and Drama are common genres but show varied revenue performance depending on release year and region.

3. **Release Year Trends:**
   - Recent years show shifts in audience preferences, such as increased interest in diverse storytelling or international co-productions.
   - Older movies generally have lower revenue, likely due to inflation and smaller global markets.

4. **Limitations:**
   - Missing values in key columns like budget and revenue can impact analysis accuracy.
   - Overlap in genre definitions creates challenges in categorization.

## Recommendations
1. **Data Improvements:**
   - Address missing values in critical fields such as budget and revenue for more reliable insights.
   - Standardize genre classifications to avoid duplication or ambiguity.

2. **Strategic Insights for Production:**
   - Focus investments on genres with historically higher profitability.
   - Schedule movie releases during peak audience periods (e.g., holidays, summer breaks) to maximize returns.

3. **Future Analysis Directions:**
   - Incorporate audience demographic data (e.g., age, gender) to understand viewer preferences more effectively.
   - Analyze data from streaming platforms to evaluate digital audience trends.